.card{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 20px;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.autors{
    display: flex;
    flex-direction: row;
}

.autor{
    margin-right: 30px;
}